html {
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   overflow: hidden;
}

.divider {
   margin-top: 5px;
   width: 130px;
   height: 3px;
   background-color: $main-color;
}

.up {
   display: block;
   z-index: 2;
   width: 35px;
   height: 35px;
   background-color: #fff;
   border-radius: 100%;
   position: fixed;
   bottom: 60px;
   right: 70px;
   text-align: center;
   box-shadow: 0 0 3px;
   cursor: pointer;
   i {
      margin-top: 5px;
      font-size: 20px;
      color: $main-color;
   }
}

.btn {
   width: 160px;
   height: 50px;
   color: #fff;
   background-color: $main-color;
   border: none;
   font-size: 16px;
   cursor: pointer;
}

.h-menu {
   width: 35px;
   height: 30px;
   cursor: pointer;
   position: absolute;
   top: 25px;
   right: 35px;
   display: none;
   transition: all 0.5s ease;
   span {
      transition: all 0.4s ease;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $main-color;
      opacity: 0.8;
      margin-bottom: 8px;
      border-radius: 20%;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &:hover {   
      opacity: 1;
      span {
         background-color: #333;
      }
   }
}

.h-menu.open span:nth-child(2) {
   background-color: #333;
   display: none;
}

.h-menu.open span:nth-child(1) {
   transform: rotate(45deg) translateX(9px) translateY(7px);
}

.h-menu.open span:nth-child(3) {
   transform: rotate(-45deg) translateX(1px);
}