.store {
   padding-top: 140px;

   &__promo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;
   }

   &__tab {
      @include easeOut;
      margin-right: 50px;
      border: none;
      background-color: #fff;
      color: #333;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 7px;
      cursor: pointer;
      border-bottom: 2px solid #333;
      outline: none;
      &:last-child {
         margin-right: 0;
      }
      &-active {
         color: $main-color;
         border-bottom-color: $main-color;
      }
   }

   &__wrapper {
      animation-name: fadeIn;
      animation-duration: 1.5s;
      display: none;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 50px;
      margin-bottom: 30px;
      &-active {
         display: grid;
      }
   }

   &__block {
      @include easeOut;
      width: 335px;
      height: 370px;
      background-color: $primary-color;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      img {
         width: 100%;
         height: 70%;
         object-fit: cover;
      }
      &:hover {
         transform: translateY(-7%);
      }

      .block-info {
         padding: 15px 8px;
         width: 100%;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         align-items: center;
  
         h3 {
            font-size: 17px;
            margin-right: 25px;
         }

         .price {
            font-size: 17px;
            font-weight: bold;
         }

         .descr, .avail {
            margin-top: 20px;
         }

         .descr {
            font-size: 16px;
         }
         .avail {
            text-decoration: underline;
         }
      }
   }
}

.btn-more {
   position: absolute;
   right: 45%;
   margin-top: 25px;
   margin-bottom: 25px;
   height: 50px;
   width: 170px;
   @include easeOut;
   cursor: pointer;
   background-color: #fff;
   border: 2px solid $main-color;
   outline: none;
   color: $main-color;
   font-weight: bold;
   i {
      margin-left: 4px;
   }
   &:hover {
      color: #fff;
      background-color: $main-color;
      padding-right: 15px;
   }
}